$color-primary: rgb(255, 255, 255);
$color-gradient1: rgb(126, 213, 111);
$color-gradient2: rgb(180, 40, 175);
$color-gradient3: rgb(99, 165, 87);

$color-background1: #f7f7f7;

$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 3rem;