.text-btn{
    font-size: 1rem;
    text-decoration:none;
    border-bottom: 1px solid;
    color: $color-gradient3;
    transition: all 0.2s;
    
    &:hover{
        background-color: $color-gradient3;
        color: white;
        padding: 0.5rem;
        border-radius: 2px;
    }
}

.btn:link,
.btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    font-size: 0.8rem;
    border-radius: 2rem;
    transition: all .1s;
}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 20px rgba(0,0,0,.2);
}

.btn--white{
    background-color: #fff;
    color: #777;
}